<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59812006941-s1g6gnbrt90eskgjb3oc8qqjkcgmpe45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59812006941-s1g6gnbrt90eskgjb3oc8qqjkcgmpe45</string>
	<key>API_KEY</key>
	<string>AIzaSyA-wqeXnYNgbXWX8qo58RK2vuK5omn7b-k</string>
	<key>GCM_SENDER_ID</key>
	<string>59812006941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equipo01.systemRegisterCbo</string>
	<key>PROJECT_ID</key>
	<string>system-register-cbo</string>
	<key>STORAGE_BUCKET</key>
	<string>system-register-cbo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59812006941:ios:8f794214dcbabdb531caf4</string>
</dict>
</plist>